{% extends "base.html" %}

{% block content %}
    <h1>Polygon Recognition</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
        {% for field in form %}
            {% if field.type == "DecimalField" %}
                <tr>
                <td style="text-align: right">{{ field.label }} :</td><td>{{ field() }}</td>
                <td>
                    {% for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}